body {
    background-color: #e8fff1;
    margin: 0;
    font-family: Spectral;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
    border: solid;
  }
  
  .card-title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
  }
  
  .card-image {
    height: 180px;
  }

  #dogCard {
      padding-inline-start: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 20px;
      border: solid;
      padding: 50px
  }

  .card:hover {
      animation: bounce 0.5s linear;
  }

  @keyframes bounce {
    20% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-2px);
    }
    80% {
      transform: translateY(-0px);
    }
  }