body {
    background-color: #e8ffed;
    margin: 0;
    font-family: Spectral;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

.card-image{
    border: solid;
}