body {
    background-color: #e8fff1;
    margin: 0;
    font-family: Spectral;
}

.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}
  
  .card-image {
    height: 180px;
  }

  #dogCard {
      padding-inline-start: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 20px;
      border: solid;
      margin: 0 auto;
      padding: 50px
  }
 /*
  .buttonContainer {
      text-align: center;
  }

  #dogButton {
    margin: 0 auto;
    display: block;
  }
  */